* {
    box-sizing: border-box;
   }
   
   body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
   }
   
   /*Zoe White, Aesthetic Options for the header*/
   .header {
   /*Spacing*/
	padding: 30px;
	text-align: center;
   /*Background color*/
	background: #368DEF;
   /*Text color*/
	color: black
   }
   
   .header h1 {
	font-size: 40px;
   }
   

   .navbar {
	overflow: hidden;
	background-color: 33DDFF;
   }

   a {
	color: black;
	text-decoration: none;
	padding: 10px 20px;
	float: left;
	display: block;
	text-align:center;
   }
   
   /* Zoe White, navbar for top of the pages*/
   .navbar n1 {
	float: left;
	display: block;
	color: black;
	text-align:center;
	padding: 10px 20px;
	text-decoration: none;
   }
  /* Daniel Moreno, used this section for the usersettings.html file*/ 
   .account_banner {
      background-color: blue;
      height: 180px;
      display: flex;
      align-items: center;
      padding: 15px 15px;
   }
   /* Divided the "account banner", this is the left portion*/
   .account_left_section{
      max-height: 100px;
      width: auto;
   }
   
   /* This changes the dimensions (properties) of the logo,
   by modifying the properties of the img tag for this specific div */
   .account_left_section img{
      width: 200px;
      height: 120px;
   }

   /* Divided the "account banner", this is the right portion*/
   .account_right_section{
      margin-left: auto;
   }

   /* This acts like a frame for the profile picture */
   .profile_picture_holder {
      display: flex;
      justify-content: center;
      width: 125px;
      height: 125px;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid black;
      align-items: center;
   }

   /* This acts like a frame for the logo */
   .logo_holder{
      display: flex;
      justify-content: center;
      width: 50 px;
      height: 50 px;
      overflow: hidden;
      border: 2px solid black;
   }

   /* Adds properties to profile picture to fit within the "frame" */
   .profile_picture{
      max-width: 100%;
      max-height: 100%;
      display: block;
      object-fit: contain;
      object-position: center;
   }

   .border-darkening{
      /*Border Darkening in general, used for tables (such as sidebar)*/
      border: 2px solid rgba(0,0,0,0.5);
   }

   .sidebar-item:hover{
      /*Changing the background when sidebar item is hovered over*/
      background-color: rgba(211,211,211,0.5);
   }

   .nav-link:hover{
      /*Changing the background when sidebar item is hovered over*/
      background-color: rgba(169,169,169,0.5);
   }
   /*Daniel Moreno, end of my section*/

   /*Zoe White, used to create rows in the html files*/
   .row {
	display: flex;
	flex-wrap: wrap;
   }
   
   /*Zoe White, Left column*/
   .side {
	flex: 50%;
	background-color: #95ADB2;
	padding: 20px
   }
   
   /*Zoe White, right column*/
   .main {
	flex: 50%;
	background-color: #95ADB2;
	padding: 20px
   }
   
   img{
	width: 100%;	        
   }

   .table-center{
	margin-left: auto;
 	margin-right: auto;
   }

   .main2 {
	flex: 20%;
	background-color: #95ADB2;
	padding: 20px
   }


   